{% load static %}
<html>
	<head>
		<title>Warikan</title>
        <link rel="stylesheet" href="{% static 'css/jquery-ui.min.css' %}"> 
        <link rel="stylesheet" href="{% static 'css/jquery-ui.css' %}">
        <link rel="stylesheet" href="{% static 'css/warikan.css' %}">
        <script src="{% static 'js/jquery-3.6.0.js' %}"></script>
        <script src="{% static 'js/jquery-ui.js' %}"></script>
        <script src="{% static 'js/jquery.qrcode.min.js' %}"></script>
		<link rel="stylesheet" href="{% static 'css/warikan.css' %}">
	</head>
	<body>
	<div class="page-header">
        <a href="{% url 'input' %}">←</a>　Warikan
{% if user.is_authenticated %}
　　　　　　　　　　　　　<a href="{% url 'logout' %}">LOGOUT</a>
{% endif %}
	</div>
		{% block content %}
		{% endblock %}
	</body>
</html>
